<div class="po-table-no-data po-text-center">
    <h3 class="po-text-center header-descricao">{{ literals.candidateCanUploadCV }}</h3>
</div>
<po-divider></po-divider>
<div *ngIf="(candidatos$ | async) as candidato; else carregar">
    <po-table [p-items]="candidato" [p-columns]="colunaCandidato" [p-actions]="acoes">
    </po-table>
</div>

<ng-template #carregar>
    <app-loading></app-loading>
</ng-template>

<app-resume-modal *ngIf="mostrarModal" [novoRegistro]="novoRegistro" [titulo]="titulo"
    [candidatoSelecionado]="candidatoSelecionado" (modaFechadoOuSalvo)="aoFecharModal($event)">
</app-resume-modal>