<h2>Listagem de candidatos candidatados a uma vaga</h2>
<po-divider></po-divider>
<div *ngIf="(candidatados$ | async) as candidatados; else carregar">
    <div *ngFor="let candidatado of candidatados">

        <po-widget [id]="createClass(candidatados)" class="po-sm-12 po-md-6 po-lg-3 po-text-center" [p-height]="200"
            p-title="Agrupado por candidatados">
            <div class="po-row">
                <div class="po-lg-12">
                    <h3><strong>{{candidatado.candidate}}</strong></h3>
                </div>
            </div>
            <div class="po-row">
                <div class="po-lg-12">
                    <span *ngFor="let candidatadosVacancy of candidatado.vacancy">
                        <h3>{{ candidatadosVacancy.nome }}.</h3>
                    </span>

                </div>
            </div>
        </po-widget>
    </div>
    <div *ngIf="candidatados == 0">
        <h2>Nenhum dado encontrado</h2>
    </div>
</div>
<ng-template #carregar>
    <app-carregando></app-carregando>
</ng-template>