<div class="po-row">

  <div class="po-md-6" *ngIf="(listaDeCandidatos$ | async) as candidato; else carregar">
    <app-selecionar [vagas]="listaDeCandidatos" [label]="candidatoTitulo" (valorFormulario)="candidatoValor = $event">
    </app-selecionar>
  </div>

  <div class="po-md-6" *ngIf="(listaDeVagas$ | async) as vagas; else carregar">
    <app-selecionar [vagas]="listaDeVagas" [label]="vagaTitulo" (valorFormulario)="vagasValor = $event">
    </app-selecionar>
  </div>

  <po-button class="po-md-12" [p-label]="salvarCandidato" (p-click)="salvarCandidatura()"> </po-button>

</div>

<po-divider></po-divider>
<div class="po-row">

  <div class="po-md-12" *ngIf="(listaCandidatatos$ | async) as listaCandidatatos; else carregar">
    <div *ngFor="let listaCandidatato of listaCandidatatos">
      <po-widget class="po-sm-12 po-md-6 po-lg-3" [p-height]="200" p-title="Candidato"
        p-primary-label="Deletar Candidatura" (p-primary-action)="deletarCandidatura(listaCandidatato.id)">
        <div class="po-lg-12">
          <p><strong>Candidato:</strong> {{ listaCandidatato.candidate }}</p>
          <p><strong>Vaga:</strong> {{ listaCandidatato.vacancy }}</p>
        </div>
      </po-widget>
    </div>
    <div *ngIf="listaCandidatatos == 0">
      <h2>Nenhum dado encontrado</h2>
    </div>
  </div>
</div>


<ng-template #carregar>
  <app-carregando></app-carregando>
</ng-template>