<div class="po-table-no-data po-text-center">
    <h3 class="po-text-center header-descricao">{{ literals.vacanciesCRUD }}</h3>
</div>
<po-divider>
</po-divider>
<po-button id="create_new_vacancy" [p-label]="literals.create" (p-click)="createVacancy()"> </po-button>

<div *ngIf="(vacancies$ | async) as vacancy; else loading">
    <po-table [p-items]="vacancy" [p-columns]="columnVacancy" [p-actions]="actions">
    </po-table>
</div>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>

<app-vacancy-modal *ngIf="showModal" [newRegister]="newRegister" [title]="title" [vacancySelected]="vacanciesSelected"
    (closeOrSaveModal)="closingModal($event)">
</app-vacancy-modal>