<po-modal #modal [p-primary-action]="confirmar" [p-secondary-action]="fechar" [p-title]="titulo" [p-hide-close]="true">
    <div class="po-row" *ngIf="novoRegistro">
        <po-input class="po-lg-12" id="novoCandidato" name="input" [p-label]="literals.candidateName" [(ngModel)]="inputCandidato"> </po-input>
    </div>
    <div class="po-row" *ngIf="!novoRegistro">
        <po-input class="po-lg-12" id="alterarCandidato" name="input" [p-label]="literals.candidateName" [(ngModel)]="candidatoSelecionado.candidate"> </po-input>
    </div>
</po-modal>