<div class="po-table-no-data po-text-center">
  <h3 class="po-text-center header-descricao"> {{ literals.candidateCanApplyForVacancy }}</h3>
</div>
<po-divider>
</po-divider>

<div class="po-row">
  <div class="po-md-6" *ngIf="(listaDeCandidatos$ | async) as candidato; else carregar">
    <app-select [vagas]="candidato" [label]="literals.SelectTheCandidate" (valorFormulario)="candidatoValor = $event">
    </app-select>
  </div>

  <div class="po-md-6" *ngIf="(listaDeVagas$ | async) as vagas; else carregar">
    <app-select [vagas]="vagas" [label]="literals.selectTheVacancy" (valorFormulario)="vagasValor = $event">
    </app-select>
  </div>

  <po-button class="po-md-12" [p-label]="literals.apply" (p-click)="salvarCandidatura()"> </po-button>

</div>

<po-divider></po-divider>
<div class="po-row">

  <div id="lista_candidatados" class="po-md-12"
    *ngIf="(listaCandidatatos$ | async) as listaCandidatatos; else carregar">
    <div *ngFor="let listaCandidatato of listaCandidatatos">
      <po-widget [id]="createId(listaCandidatato)" class="po-sm-12 po-md-6 po-lg-3" [p-height]="200" [p-title]="literals.candidate"
        [p-primary-label]="literals.deleteApplication" (p-primary-action)="deletarCandidatura(listaCandidatato.id)">
        <div class="po-lg-12">
          <p><strong>{{ literals.candidate }}:</strong> {{ listaCandidatato.candidate }}</p>
          <p><strong>{{ literals.vacancy }}:</strong> {{ listaCandidatato.vacancy }}</p>
        </div>
      </po-widget>
    </div>
    <div class="po-table-no-data po-text-center" *ngIf="listaCandidatatos == 0">
      <span>{{ literals.noDataFound }}</span>
    </div>
  </div>
</div>


<ng-template #carregar>
  <app-loading></app-loading>
</ng-template>