<po-modal #modal [p-primary-action]="confirm" [p-secondary-action]="close" [p-title]="title" [p-hide-close]="true">
    <div class="po-row" *ngIf="newRegister">
        <po-dynamic-form #dynamicForm (p-form)="getForm($event)" p-auto-focus="name" [p-fields]="fields"
            [p-value]="candidateSelected">
        </po-dynamic-form>
    </div>
    <div class="po-row" *ngIf="!newRegister">
        <po-dynamic-form #dynamicForm (p-form)="getForm($event)" p-auto-focus="name" [p-fields]="fields"
            [p-value]="candidateSelected">
        </po-dynamic-form>
    </div>
</po-modal>